---
title: New England Olympic Lifting Coaches
---

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h3>Coaches</h3>
  </div>
</div>
<div class="row">
  <div class="col-md-5  col-md-offset-1">
    <h4>Nikita Durnev</h4>
    <hr>
    <p>
      Nikita is the head coach of Norwood Weightlifting. He was awarded Masters of Sport at age 16 in Russia and has competed and coached at the national level in both Russia and the United States.
    </p>
    <p>
      He uses his experience and expertise to provide personalized coaching and programming in the olympic lifts and supplemental strength exercises.
    </p>
    <p>
      Whether Crossfit, Olympic Weightlifting  or overall strength and fitness, Nikita works closely with athletes to help them achieve their performance goals.
    </p>
  </div>
  <div class="col-md-5">
    <img src="images/durnev.jpg" alt="Nikita Durnev">
  </div>
</div>
