---
title: New England Olympic Lifting Facilities
---

<div class="row">
  <div class="col-md-12 test">
    <h3>Get Stronger. Everyday.</h3>
    <p>
      Welcome to Nikita Durnev Olympic Weightlifting.
      <!-- <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %> -->
    </p>
    <p>
      Looking to get started in the Olympic lifts? Or improve your technique? Or just get stronger?
    </p>
  </div>
</div>
