---
title: New England Olympic Weightlifting
footer: Lift strong. Lift heavy.
---

<br>

<div class="row">
  <div class="col-md-6 col-md-offset-1">
    <p>
      Welcome to New England Olympic Weightlifting.
      <!-- <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %> -->
    </p>
    <p>
      Whether you are looking to get started in the Olympic lifts, improve your technique, or get stronger -- we can help you achieve your goals.
    </p>
  </div>

  <div class="col-md-4">
    <h3 class="homepage-header">Get Stronger. Everyday.</h3>
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <img src="images/homepage.jpg" alt="Polovnikov">
  </div>
</div>
