---
title: New England Olympic Lifting Team
---

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h3>Team</h3>
  </div>
</div>
<div class="row">
  <div class="col-md-5  col-md-offset-1">
    <h4>Ryan Correia</h4>
    <hr>
    <p>
      Ryan is a Physical Therapist Assistant and a Certified Performance Enhancement Specialist through the National Academy of Sports Medicine.
    </p>
    <p>
      A lifelong athlete, Ryan has competed as a football player, martial artist, and wrestler. He started Olympic Weightlifting in 2012 and always brings 100% to every training session.
    </p>
    <p>
      He is dedicated to helping people around him become stronger and work harder.
    </p>
  </div>
  <div class="col-md-5">
    <img src="images/correia.jpg" alt="Nikita Durnev">
  </div>
</div>
